openapi: 3.2.0
info:
  title: Arkose Labs Verify Schema API
  version: v4
  description: Server-side API for validating an Arkose Labs (Bot Manager / Titan) session. The customer server POSTs the private key and the session token returned by the client-side Enforcement Object onComplete callback; the API returns whether the session was solved plus a full risk assessment (risk band/score, telltales, IP/device/email intelligence, agent trust). Generated by API Evangelist from the published Arkose Labs developer documentation and the live request/response JSON Schemas served at /api/v4/verify/schema/{request,response}.
  contact:
    name: Arkose Labs Support
    url: https://www.arkoselabs.com/support/
  termsOfService: https://www.arkoselabs.com/terms-of-service/
  x-apievangelist-method: generated
  x-apievangelist-source: https://developer.arkoselabs.com/docs/calling-verify-v4-api
servers:
- url: https://verify-api.arkoselabs.com
  description: Generic development endpoint (pre custom URL)
- url: https://{company}-verify.arkoselabs.com
  description: Custom per-customer endpoint (dev/prod)
  variables:
    company:
      default: acme
      description: Your Arkose Labs customer subdomain
tags:
- name: Schema
  description: Machine-readable request/response schemas
paths:
  /api/v4/verify/schema/request:
    get:
      operationId: getVerifyRequestSchema
      summary: Fetch the Verify request JSON Schema
      tags:
      - Schema
      responses:
        '200':
          description: JSON Schema for the verify request body
          content:
            application/json:
              schema:
                type: object
  /api/v4/verify/schema/response:
    get:
      operationId: getVerifyResponseSchema
      summary: Fetch the Verify response JSON Schema
      tags:
      - Schema
      responses:
        '200':
          description: JSON Schema for the verify response body
          content:
            application/json:
              schema:
                type: object
