openapi: 3.1.0
info:
  title: Arkose Labs Edge Schema API
  version: v1
  description: Lightweight server-side detection API. The customer relays the inbound client HTTP request (method, url, headers, body) to Arkose Edge, which returns a risk assessment and allow/deny recommendation from consortium intelligence — for surfaces where client-side JavaScript/SDK cannot run (mobile backends, IoT, programmatic APIs). Generated by API Evangelist from the published Arkose Labs Edge API documentation.
  contact:
    name: Arkose Labs Support
    url: https://www.arkoselabs.com/support/
  x-apievangelist-method: generated
  x-apievangelist-source: https://developer.arkoselabs.com/docs/edge-api-request-parameters
servers:
- url: https://client-api.arkoselabs.com
  description: Arkose Edge API host
tags:
- name: Schema
  description: Machine-readable request/response schemas
paths:
  /api/v4/verify/schema/request:
    get:
      operationId: getVerifyRequestSchema
      summary: Fetch the Verify request JSON Schema
      tags:
      - Schema
      responses:
        '200':
          description: JSON Schema for the verify request body
          content:
            application/json:
              schema:
                type: object
  /api/v4/verify/schema/response:
    get:
      operationId: getVerifyResponseSchema
      summary: Fetch the Verify response JSON Schema
      tags:
      - Schema
      responses:
        '200':
          description: JSON Schema for the verify response body
          content:
            application/json:
              schema:
                type: object
