# GENERATED by API Evangelist from published Arkose Labs Edge API docs. Faithful, not authoritative.
openapi: 3.1.0
info:
  title: Arkose Labs Edge API
  version: v1
  description: Lightweight server-side detection API. The customer relays the inbound client HTTP request (method, url, headers, body) to Arkose Edge, which returns a risk assessment and allow/deny recommendation
    from consortium intelligence — for surfaces where client-side JavaScript/SDK cannot run (mobile backends, IoT, programmatic APIs). Generated by API Evangelist from the published Arkose Labs Edge API
    documentation.
  contact:
    name: Arkose Labs Support
    url: https://www.arkoselabs.com/support/
  x-apievangelist-method: generated
  x-apievangelist-source: https://developer.arkoselabs.com/docs/edge-api-request-parameters
servers:
- url: https://client-api.arkoselabs.com
  description: Arkose Edge API host
paths:
  /api/edge/v1/{public_key}:
    post:
      operationId: edgeAssess
      summary: Assess an inbound request at the edge
      tags:
      - Edge
      parameters:
      - name: public_key
        in: path
        required: true
        schema:
          type: string
        description: Your Arkose Labs public key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeRequest'
      responses:
        '200':
          description: Risk assessment and allow/deny recommendation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
components:
  schemas:
    EdgeRequest:
      type: object
      description: The inbound client HTTP request relayed to Edge.
      properties:
        headers:
          type: object
          description: HTTP headers from the client request (key-value pairs).
        method:
          type: string
          description: HTTP method used by the client (e.g., GET, POST).
        url:
          type: string
          description: The full URL the client requested.
        body:
          type: string
          description: The client request body, if any.
      required:
      - headers
      - method
      - url
tags:
- name: Edge
  description: Edge risk assessment
